<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escass.testmemo.mappers.MemoMapper">
    <insert id="insertMemo"
            parameterType="com.escass.testmemo.entities.MemoEntity">
        INSERT INTO `test0404`.`memos` (`writer`, `content`, `created_at`, `is_deleted`)
        VALUES (#{writer}, #{content}, #{createdAt}, #{isDeleted})
    </insert>
    <select id="selectMemosByIndex"
            resultType="com.escass.testmemo.entities.MemoEntity">
        SELECT `index`      AS `index`,
               `writer`     AS `writer`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `is_deleted` AS `isDeleted`
        FROM `test0404`.`memos`
        WHERE `is_deleted` = FALSE
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
    <select id="selectMemoCountByIndex"
            resultType="_int">
        SELECT COUNT(0)
        FROM `test0404`.`memos`
        WHERE `is_deleted` = FALSE
    </select>
    <select id="selectMemoCountBySearch" resultType="_int">
        SELECT COUNT(0)
        FROM `test0404`.`memos`
        WHERE `is_deleted` = FALSE
        AND (`writer` LIKE CONCAT('%', #{search}, '%')
        OR `content` LIKE CONCAT('%', #{search}, '%'))
    </select>
    <select id="selectMemoBySearch" resultType="com.escass.testmemo.entities.MemoEntity">
        SELECT `index`      AS `index`,
               `writer`     AS `writer`,
               `content`    AS `content`,
               `created_at` AS `createdAt`,
               `is_deleted` AS `isDeleted`
        FROM `test0404`.`memos`
        WHERE `is_deleted` = FALSE
        AND (`writer` LIKE CONCAT('%', #{search}, '%')
        OR `content` LIKE CONCAT('%', #{search}, '%'))
        ORDER BY `index` DESC
        LIMIT #{limitCount} OFFSET #{offsetCount}
    </select>
</mapper>